body {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family:Bahnschrift;
    overflow-x:hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li, a, button{
    font-size: 13px;
    color: #3f446b;
    text-decoration: none;
}

header{
    align-items: center;
    padding: 5px 3%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.logo{
    width: 110px;
    cursor: pointer;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #3d8f7e;
}

.submit-button:hover{
    background-color: rgba(101, 187, 180, 0.8);
}

nav{
    float: right;
}
.signoutbtn{
    font-size: 13px;
    color: #3f446b;
    background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}
.grid-container{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 85% 15%;
    grid-template-areas:
        "design-element contact-area"
        "design-element contact-area";
    padding-top: 2px;
}
main.contact-area {
    grid-area: contact-area;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.design-element {
    grid-area: design-element;
    background: url('../resources/contact-art.svg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "text-contact text-contact"
        "contact-area contact-area";
}
.contactus-text{
    grid-area:text-contact;
    margin-top:1%;
    font-weight: 500;
    font-size: 1.2cm;
    color: #65bbb4;
    text-align:center;
}
.input-area{
    grid-area:contact-area;
    margin-left:10%;
    margin-right:10%;
}
input.input-boxes {
    border-radius: 22px;
    background: #F0F0F0;
    padding: 20px; 
    width: 550px;
    height: 10px;  
    margin-top: 2%;
    outline: 0;
    border:0;
    box-shadow: 1px 1px 1px #999;
}
.message-box{
    border-radius: 22px;
    background: #F0F0F0;
    padding: 20px; 
    width: 550px;
    height: 30px;  
    margin-top: 2%;
    outline: 0;
    border:0;
    padding-bottom: 100px;
    font-family:Bahnschrift;
    box-shadow: 1px 1px 1px #999;
}
.submit-button {
    padding: 9px 25px;
    background-color: rgba(101, 187, 180, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: 0;
    color: white;
    align-items: center;
    margin-top:20px;
    margin-left:45%;
    margin-right:45%;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #6ec6b8;
    color: white;
    margin-top: auto;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  }
.menu-icon{
    display: none;
}

@media screen and (max-width: 414px) {
    ul{
        display: none;
    }
    .menu-icon{
        display: block;
        float: right;
        margin-top: 20px;
    }
    .grid-container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "contact-area";
        padding-top: 2px;
        text-align: center;
    }
    
}